/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/
header{
  background-image: url("images/pastelky3.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
   background-position: bottom;  
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
header img{
  width: 100%;
  display: block;
}
.obsah{
  background-image: url("images/pozadi2.jpg");
  padding: 5%;
}

.fotogalerie{
  display: flex;
  flex-wrap: wrap;
}
.fotogalerie img{
  width: 100%;
  text-align: center;
}
.fotogalerie a{
  border: 0.25px solid black;
  display: inline-block;
  text-decoration: none;
  width: calc(100% / 3);
  background-color: white;
}

/*-----------------------------*/
/* tablety: */
@media (min-width: 480px) {
  header{
    height: 250px;
  }
  .obsah{
    padding: 10%;
  }
}
/*----------------------*/
/* notebook/pc: */
@media (min-width: 860px) {
  header{
    height: 300px;
  }
  body {
    padding: 0 20%;
  }
  p{
    font-size: 1.5rem;
  }
  .fotogalerie a{
    width: calc(100% / 6); 
  }
}