/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

header{
  background-image: url("images/pastelky3.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;  
}
header img{
  width: 100%;
  display: block;
}

.obsah{
  background-color: WhiteSmoke;
  padding: 5%;
}

h1{
  text-align: center;
}

.box_noty{
  text-align:center;
}
.noty{
  width:30%;
}

.fotogalerie{
  display: flex;
  flex-wrap: wrap;
}
.fotogalerie img{
  width: 100%;
  text-align: center;
}
.fotogalerie a{
  border: 0.25px solid black;
  display: inline-block;
  text-decoration: none;
  width: calc(100% / 3);
  background-color: white;
}

.tema{
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
  width: 80%;
  margin: 2%;
}
/* class="odkaz" - hlavni odkaz v index.html */
.odkaz a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  display: block;
  width: 100%;
  padding: 2% 5%;
}
.odkaz a:hover,
.odkaz a:focus {
  color: gold;
}
/* class="odkaz" - hlavni odkaz v index.html */

/* class="odkaz-galerie" - hlavni odkaz v index.html */
.odkaz-galerie a{
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  display: inline-block;
  border-top: 0.5px solid black;
  width: 100%;
  padding: 2% 25%;
  font-style: italic;
}
.odkaz-galerie a:hover,
.odkaz-galerie a:focus {
  color: gold;
}
/* class="odkaz-galerie" - hlavni odkaz v index.html */
.zpet{
  text-align: right;
  font-size: 0.7rem;
}
.zpet a{
  text-decoration: none;
  color: black;
  font-weight: bolder;
  border: 0.5px solid black;
  border-radius: 5px;
  background-color: yellow;
  padding: 5px;
}

 /* .odkaz_pisnicka {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  border: 0.2px solid black;
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 0.5px 5px;
  transition: background-color 0.5s;
}
.odkaz_pisnicka:hover,
.odkaz_pisnicka:focus {
  background-color:LightYellow;
}  */

.zapati{
  background-color: LightGrey;
  text-align: center;
  text-decoration: darkslategrey;
  font-style: italic;
  padding: 2%;
  border-top: 0.5px solid black;
  font-size: 0.8rem;
}

/*-----------------------------*/
/* tablety: */
@media (min-width: 480px) {
  header{
    height: 250px;
  }
  .obsah{
    padding: 10%;
  }
}
/*----------------------*/
/* notebook/pc: */
@media (min-width: 860px) {
  header{
    height: 300px;
  }
  body {
    padding: 0 20%;
  }
  p{
    font-size: 1.2rem;
  }
  .fotogalerie a{
    width: calc(100% / 6); 
  }
  .odkaz a {
    font-size: 1.2rem;
  }
  .zpet{
    font-size: 1rem;  
  }
  .odkaz-galerie a{
    font-size: 1rem;
    padding: 1% 0% 1% 50%;
  }
}